@import url(http://fonts.googleapis.com/css?family=Raleway:200,600,700,400);

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 400;
  font-size: 1em;
  background: #45C77C;
}

header img {
  width: 100%;
  height: 300px;
}

form {
  width: 30em;
  margin: 2em auto;
}

#search {
  display: block;
  margin: 50px 0 0 0;
  padding: 0.5em 1em 0.5em 0.7em;
  width: calc(100% - 2em);
  border: none;
  background: rgba(255,255,255,0.25);
  color: rgba(0,0,0,0.8);
  font-size: 2em;
  line-height: 1;
  outline: 0;
  color: #fff;
}

::-webkit-input-placeholder { color: rgba(255,255,255,0.5); }

button[type="submit"] {
  float: right;
  border: 0;
  background: transparent;
  margin-bottom: -70px;
  margin-right: 10px;
  height: 70px;
  width: 70px;
  cursor: pointer;
}

button[type="submit"] svg {
  fill: #fff;
  width: 48px;
  height: 48px;
}

#autocomplete {
  display: none;
}

#autocomplete span {
  display: block;
  margin: 0;
  padding: 0.5em 1em 0.5em 0.8em;
  width: calc(100% - 2.18em);
  border-top: 2px solid rgba(255,255,255,0.5);
  font-size: 1.7em;
  color: #fff;
  background: rgba(255,255,255,0.25);
}

#autocomplete span:hover {
  background: #45C77C;
  cursor: pointer;
}

#image {
  background: #1D1C2B;
  color: #fff;
  display: none;
}

#image p {
  margin: 0;
  padding-left: 1em;
}

#image img {
  display: block;
  margin: auto;
  max-width: 100%;
  background-image: url('img/svg_64_sad.svg');
  background-size: 100%;
  min-width: 128px;
}

#map {
  display: none;
}

#leaflet,
.leaflet-dragging.leaflet-container,
.leaflet-dragging .leaflet-clickable {
  cursor: move;
}

#leaflet {
  width: 100%;
  height: 100%;
}

.b_btn {
  font-size: 1.7em;
  line-height: 50px;
  width: 50%;
  height: 50px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  color: #fff;
}

.b_btn div {
  text-align: center;
  display: block;
  float: left;
}

.b_btn div:hover {
  background: rgba(255,255,255,0.25);
  cursor: pointer;
}

.b_btn.green {
  background: #45C77C;
  margin-bottom: 5px;
}

.b_btn.green div:first-child {
  border-right: 1px solid rgba(255,255,255,0.5);
  width: calc(50% - 1px);
  border-radius: 10px 0px 0px 10px;
}

.b_btn.green div:last-child {
  border-left: 1px solid rgba(255,255,255,0.5);
  width: calc(50% - 1px);
  border-radius: 0px 10px 10px 0px;
}

.b_btn.blue {
  width: 100%;
}

.b_btn.blue:hover {
  background: rgba(40, 40, 30, 0.5);
  cursor: pointer;
}

.btn-background {
  position: relative;
  bottom: 70px;
  background: rgba(29, 28, 43, 1.0);
  width: 50%;
  margin: auto;
  border-radius: 10px;
}

footer p {
  margin: 5px;
  color: #fff;
  text-align: center;
}

#next_pic[data-mode='disabled'] {
  pointer-events: none;
  background: rgba(255,255,255,0.25);
  cursor: not-allowed;
}

#message {
  padding: 4px 10px;
  font-weight: 600;
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 8px;
  font-size: 0.875rem;
  position: fixed;
  color: #fff;
  width: 75%;
  left: 50%;
  margin: 0 0 0 -37.5%;
  top: -300px;
  transition: 1s ease-in-out;
  z-index: 99999;
}

#message[data-message='error'] {
  background: #e74c3c;
  border: 2px solid #c0392b;
}

#message[data-message='correct'] {
  background: #45C77C;
  border: 2px solid rgba(255,255,255,0.25);
}